@import "~ed-grid";
@import "~edteam-style-guides/edteam-style-guides";

.alinearImagen{
    object-fit: cover;
    object-position: center;
}

.tamañoiconopdf{
    width:8%;
    top:4px;

    @media screen  and (min-width: 500px) {
        width:6%;
    }

    @media screen  and (min-width: 640px) {
        width:10%;
    }
}



.colorficha{
    color:#FF2419
}

.colorprecio{
    color:#006DC6;
}

.animacion{
    transition: width 0.2s;

    &:hover{
        box-shadow: 3px 4px 15px 0px #aaaaaaf1 !important;
        width: 101%;
      }
}


// .cortartexto{
//     width: 230px;
//     white-space: pre-wrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
// }

.alineacionDeAltura{
    height: 44px;
}


